# Boilerplate
__pycache__/
_archive/
_dev/
.idea/
build/
dev/
dist/
ignored/
logs/
*~$*
*.DS_Store
*.egg-info
*.swp
tags
MANIFEST

# Custom
output/
bak/
/*.json
!config.json
*/cache/*
!*/cache/.keep
# Environment files
.env
.env.*
!/env/env.example
.ipynb_checkpoints/
*.parquet*
env/*
/venv/
junk
*/junk.json
*.ipynb
.idea
.DS_Store
backup/
.vscode/
*.code-workspace
*.dmp
.log
#scratchpads/  # actually; commit these; when done, can put the files in _archive/.

# Frontend
# - JS: CreateReactApp
#   See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#   dependencies
node_modules
/.pnp
.pnp.js
# testing
/coverage
/frontend/test-results/
/frontend/playwright-report/
/frontend/playwright/.cache/
/frontend/tests/playwright/performance/*
!/frontend/tests/playwright/performance/.keep
# production
/build
# misc
npm-debug.log*
/frontend/.yarn/*
yarn-debug.log*
yarn-error.log*

# LLM
.claude/

# Test
frontend/playwright-report/index.html
